* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: lightseagreen;
  color: white;
} */
.nav2 {
  display: flex;
  gap: 20px;
}
.light{
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: lightseagreen;
  color: white;
}
 .dark{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.052);
  color: white;
}
