/* @import "tailwindcss"; */

*{
  margin: 0%;
  padding: 0%;
}

html,body{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

h1{
  
  text-align: center;
  margin-top: 200px;
}
h2{
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
 background: rgba(255, 255, 255, 0.652);
 padding: 10px;
 
}




.list{
  font-size: large;
}
.list a{
  color: black;
  font-weight: bold;
  padding: 20px;
  margin: 2px;
  text-decoration: none;
}


.logo{
  color: #333;
  background: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
   
}
button,.link{
  background-color: blueviolet;
  color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  font-weight:bold ;
}
.footer{
  background-color:rgba(255, 255, 255, 0.652) ;
  color: black;
  margin-top: 180px;
  text-align: center ;
  padding: 30px;
  font-size: large;
   font-weight:bold ;
  
  
}

